@{
    ViewBag.Title = "Inicio";
}
<div class="app-main">
    @Html.Partial("_SideBar")
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="tab-content">
                <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <div class="jumbotron">
                                <h1 class="display-4">
                                    Corporacion Software S.A
                                </h1>
                                <p class="lead">SOFTWARE PARA TODOS.</p>
                                <hr class="my-4">
                                <p>Somos integradores de soluciones de software y distribuidores de Softland actualmente para Nicaragua, contamos con el apoyo y soporte directo de Softland, que es el propietario del producto SoftlandERP/ExactusERP, el cual desarrolla, mantiene, actualiza y genera nuevas funcionalidades con un equipo de más de 150 desarrolladores directos.</p>
                                <p class="lead">
                                    <a class="btn btn-primary btn-lg" href="http://corpsoftsa.com/cswp/es_es/" role="button">Acerca de Nosotros</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>